#title {
  background-color: lightblue;
  border-radius: 0px 0px 0px 10px;
}

#author {
  background-color: lightblue;
}

#isbn {
  background-color: lightblue;
}

#description {
  background-color: lightblue;
  border-radius: 0px 0px 10px 0px;
}
  
table {
  text-align: center;
  width: 100%;
  border: 2px solid black;
  border-radius: 15px;
}
  
ul {
  padding: 0;
}

.container {
  border: 1px solid black;
}